<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{>header}}
</head>

<body>
    <div class="main">
        <div class="form">

            <div class="login-info">
                <ul>
                    <li><a href="#" class="line line2" id="login">Login</a></li>
                    <li><a href="#" class="line" id="signup">Sign Up</a></li>
                </ul>
            </div>

            <form action="/auth" method="POST">
                <div class="login " id="main-login">
                    <input type="number" placeholder="Enter your boardroll" class="input" name="boardroll"/>
                    <br />
                    <input type="text" placeholder="Enter password" class="input" name="pass"/>

                    <div class="container"><a href="#" class="for">Forgot Password?</a>
                        {{!-- <button class="btn">Login</button> --}}

                        <input type="submit" class="btn" value="Sign Up">
                    </div>

                </div>
            </form>
            <form action="/confirm" method="POST">
                <div class="signup hide" id="main-signup">
                    <input type="text" placeholder="Enter your Firstname" class="input" name="firstname" />
                    <br />
                    <input type="text" placeholder="Enter your lastname" class="input" name="lastname" />
                    <br>
                    <input type="number" placeholder="Board Roll" class="input" name="boardroll" />
                    <div class="two">


                        <select required name="semester">
                            <option value="" disabled selected hidden>Semester</option>
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>
                            <option value="3rd">3rd</option>
                            <option value="4th">4th</option>
                            <option value="5th">5th</option>
                            <option value="6th">6th</option>
                            <option value="7th">7th</option>
                            <option value="8th">8th</option>

                        </select>



                        <select required name="gender">
                            <option value="" disabled selected hidden>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>

                        <br>

                        <select required name="shift">
                            <option value="" disabled selected hidden>Shift</option>
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>

                        </select>



                        <select required name="department">
                            <option value="" disabled selected hidden>Department</option>
                            <option value="CST">CST</option>
                            <option value="Printing">Printing</option>
                            <option value="Graphic">Graphic</option>
                        </select>
                    </div>
                    <div class="btn-div">
                        <input type="submit" class="btn2" value="Sign Up">
                    </div>

                </div>
            </form>
        </div>

        <div class="part2">
            <h1 class="h1">Graphic Arts Institute</h1>
            {{>svg}}
        </div>
    </div>

    <script>
        document.getElementById('login').addEventListener("click", () => {
            document.getElementById('main-login').classList.remove('hide');
            document.getElementById('main-signup').classList.add('hide');
            document.getElementById('login').classList.add('done');
            document.getElementById('signup').classList.remove('done');
            document.getElementById('login').classList.add('line2');
            document.getElementById('signup').classList.remove('line2');
        })


        document.getElementById('signup').addEventListener("click", () => {
            document.getElementById('main-login').classList.add('hide');
            document.getElementById('main-signup').classList.remove('hide');
            document.getElementById('login').classList.remove('done');
            document.getElementById('signup').classList.add('done');
            document.getElementById('login').classList.remove('line2');
            document.getElementById('signup').classList.add('line2');
        })
    </script>
</body>

</html>